// =====================================================
//    COLORS
// =====================================================

$black: #000000;
$white: #ffffff;

$pink: #FB9292;

$grey1: #282829;
$grey2: #85868A;
$grey3: #ADAEB3;
$grey4: #ECEDF3;
$grey5: #FAFAFA;

// =====================================================
//    Fonts
// =====================================================

$openSans: 'Open Sans', sans-serif;

// =====================================================
//    Fonts Weight
// =====================================================
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;


/*letter spacing
10 = 0.01em
20 = 0.02em
*/
