.home{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  background-color: $grey5;

  &__leftcol{
    width: 220px;
    background-color: $white;
    padding: 30px 40px;

    ul{
      margin-top: 120px;
      width: 100%;
      display: block;

      .home__leftcol__listli{
        display: block;
        width: 100%;
        white-space: nowrap;
        margin-bottom: 12px;
        cursor: pointer;

        &:last-child{
          margin-bottom: 0px;
        }

        .lilabel{
          display: inline-block;
          vertical-align: middle;
          width: 10px;
          height: 10px;
          margin-right: 10px;
          background-color: $grey2;
        }

        &.active{
          font-weight: $semi-bold;
          .lilabel{
            background-color: $pink;
          }
        }
      }
    }
  }

  &__main{
    display: inline-block;
    flex: 1;

    .home__subpage{
      width: 100%;
      height: 100%;
      display: block;
      &__topbar{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 30px;

        &__profile{
          display: inline-block;
          .profile__name{
            display: inline-block;
            vertical-align: middle;
            margin-right: 15px;
          }
          .profile__avatar{
            display: inline-block;
            vertical-align: middle;
          }
        }
      }

      &__mainCont{
        padding: 0 60px;
        max-width: 1550px;

        .mainCont__header{
          display: block;
          width: 100%;
          margin-bottom: 14px;

          &--big{
            font-size: 24px;
            font-weight: $extra-bold;
            color: $grey2;
          }
          &--sml{
            font-size: 18px;
            color: $grey2;
            font-weight: $bold;
          }
          &--sub{
            font-size: 14px;
            font-weight: $bold;
            color: $black;
            margin-bottom: 8px;
            display: inline-block;
            width: auto;
            padding: 0;
          }
        }

        main{
          width: 100%;
          margin-top: 20px;

          .HomeItem{
            display: block;
            margin-bottom: 15px;
            padding: 15px 20px;
            background-color: $white;
            border: 1px solid $grey4;
            h4{
              font-size: 16px;
              margin-bottom: 6px;
            }
            span{
              color: #85868A;
              font-size: 14px;
            }

            &:last-child{
              margin-bottom: 0px;
            }
          }
        }
      }
    }
  }
}
